<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alignment</title>
    <meta charset="UTF-8">
    <script src="https://cdn.bio.sh/msa/latest/msa.min.gz.js"></script>
    <script type="javascript">
        window.onload = function () {
            var rootDiv = document.getElementById('snippetDiv');
            /* global rootDiv */
            // set your custom properties
            // @see: https://github.com/wilzbach/biojs-vis-msa/tree/master/src/g
            var opts = {
                el: rootDiv,
                vis: {
                    conserv: false,
                    overviewbox: false,
                    seqlogo: true
                },
                conf: {
                    dropImport: true
                },
                zoomer: {
                    menuFontsize: "12px",
                    autoResize: true
                }
            };
        }
    </script>
</head>
<body>
<div id='alignmentDIV'></div>
</body>
</html>
