@font-face {
	font-family:myriad-pro;
	src:url(https://use.typekit.net/af/f541d5/0000000000000000000151db/23/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/f541d5/0000000000000000000151db/23/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/f541d5/0000000000000000000151db/23/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
	font-weight:700;
	font-style:normal;
}
@font-face {
	font-family:myriad-pro;
	src:url(https://use.typekit.net/af/0356ff/0000000000000000000151de/23/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/0356ff/0000000000000000000151de/23/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/0356ff/0000000000000000000151de/23/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family:myriad-pro;
	src:url(https://use.typekit.net/af/282b24/0000000000000000000151e0/23/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/282b24/0000000000000000000151e0/23/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/282b24/0000000000000000000151e0/23/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family:myriad-pro;
	src:url(https://use.typekit.net/af/edfbdf/0000000000000000000151e1/23/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/edfbdf/0000000000000000000151e1/23/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/edfbdf/0000000000000000000151e1/23/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("opentype");
	font-weight:600;
	font-style:normal;
}
@font-face {
	font-family:freight-sans-pro;
	src:url(https://use.typekit.net/af/c8c69d/000000000000000000010b5a/23/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/c8c69d/000000000000000000010b5a/23/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/c8c69d/000000000000000000010b5a/23/a?subset_id=2&fvd=n4&v=3) format("opentype");
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family:freight-sans-pro;
	src:url(https://use.typekit.net/af/f37a26/000000000000000000010b5b/23/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/f37a26/000000000000000000010b5b/23/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/f37a26/000000000000000000010b5b/23/a?subset_id=2&fvd=i4&v=3) format("opentype");
	font-weight:400;
	font-style:italic;
}
@font-face {
	font-family:freight-sans-pro;
	src:url(https://use.typekit.net/af/916b44/000000000000000000010b60/23/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/916b44/000000000000000000010b60/23/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/916b44/000000000000000000010b60/23/a?subset_id=2&fvd=n7&v=3) format("opentype");
	font-weight:700;
	font-style:normal;
}
@font-face {
	font-family:freight-sans-pro;
	src:url(https://use.typekit.net/af/bdb7f6/000000000000000000010b61/23/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/bdb7f6/000000000000000000010b61/23/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/bdb7f6/000000000000000000010b61/23/a?subset_id=2&fvd=i7&v=3) format("opentype");
	font-weight:700;
	font-style:italic;
}
@font-face {
	font-family:freight-sans-pro;
	src:url(https://use.typekit.net/af/ebb841/000000000000000000010b58/23/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/ebb841/000000000000000000010b58/23/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/ebb841/000000000000000000010b58/23/a?subset_id=2&fvd=n3&v=3) format("opentype");
	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family:freight-sans-pro;
	src:url(https://use.typekit.net/af/80be5f/000000000000000000010b5c/23/l?subset_id=2&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/80be5f/000000000000000000010b5c/23/d?subset_id=2&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/80be5f/000000000000000000010b5c/23/a?subset_id=2&fvd=n5&v=3) format("opentype");
	font-weight:500;
	font-style:normal;
}
@font-face {
	font-family:freight-sans-pro;
	src:url(https://use.typekit.net/af/2cfcd4/000000000000000000010b5e/23/l?subset_id=2&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/2cfcd4/000000000000000000010b5e/23/d?subset_id=2&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/2cfcd4/000000000000000000010b5e/23/a?subset_id=2&fvd=n6&v=3) format("opentype");
	font-weight:600;
	font-style:normal;
}
@font-face {
	font-family:adelle-sans;
	src:url(https://use.typekit.net/af/c23b29/000000000000000000012aff/23/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/c23b29/000000000000000000012aff/23/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/c23b29/000000000000000000012aff/23/a?subset_id=2&fvd=n7&v=3) format("opentype");
	font-weight:700;
	font-style:normal;
}
@font-face {
	font-family:adelle-sans;
	src:url(https://use.typekit.net/af/ceae27/000000000000000000012b00/23/l?subset_id=2&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/ceae27/000000000000000000012b00/23/d?subset_id=2&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/ceae27/000000000000000000012b00/23/a?subset_id=2&fvd=i7&v=3) format("opentype");
	font-weight:700;
	font-style:italic;
}
@font-face {
	font-family:adelle-sans;
	src:url(https://use.typekit.net/af/f35af4/000000000000000000012afc/23/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/f35af4/000000000000000000012afc/23/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/f35af4/000000000000000000012afc/23/a?subset_id=2&fvd=i4&v=3) format("opentype");
	font-weight:400;
	font-style:italic;
}
@font-face {
	font-family:adelle-sans;
	src:url(https://use.typekit.net/af/f6e27b/000000000000000000012af9/23/l?subset_id=2&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/f6e27b/000000000000000000012af9/23/d?subset_id=2&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/f6e27b/000000000000000000012af9/23/a?subset_id=2&fvd=n3&v=3) format("opentype");
	font-weight:300;
	font-style:normal;
}
@font-face {
	font-family:adelle-sans;
	src:url(https://use.typekit.net/af/03cb99/000000000000000000012afb/23/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/03cb99/000000000000000000012afb/23/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/03cb99/000000000000000000012afb/23/a?subset_id=2&fvd=n4&v=3) format("opentype");
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family:adelle-sans;
	src:url(https://use.typekit.net/af/402630/000000000000000000012af7/23/l?subset_id=2&fvd=n1&v=3) format("woff2"),url(https://use.typekit.net/af/402630/000000000000000000012af7/23/d?subset_id=2&fvd=n1&v=3) format("woff"),url(https://use.typekit.net/af/402630/000000000000000000012af7/23/a?subset_id=2&fvd=n1&v=3) format("opentype");
	font-weight:100;
	font-style:normal;
}