{% load static %}

<div class="events">
    <div class="container">
        <!-- Team Members Row -->
        <div class="events">
            <div class="row">
                <div class="col-lg-4 col-sm-3 text-center"><a href="#tree">
                    <img class="img-circle img-responsive center-block" src="{% static "research/img/tree.png" %}"
                         alt="">
                    <h3>View Tree</h3></a>
                </div>
                <div class="col-lg-4 col-sm-3 text-center"><a href="#alignment">
                    <img class="img-circle img-responsive center-block" src="{% static "research/img/alignment.png" %}"
                         alt="">
                    <h3>View Alignment</h3></a>
                </div>
                <div class="col-lg-4 col-sm-3 text-center"><a href="#expression">
                    <img class="img-circle img-responsive center-block" src="{% static "research/img/expression.png" %}"
                         alt="">
                    <h3>View Expression Levels</h3></a>
                </div>
            </div>

            <hr>
        </div>
    </div>
</div>