{# Load the tag library #}
{% load bootstrap3 %}
{% load static %}

{# Load CSS and JavaScript #}
<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/css1.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/css2.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/css3.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/css5.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/css6.css' %}"/>
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<section class="spikenode-steps">
    {% include "navbar.html" %}
</section>

<section class="how-it-works" id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-headline">Error</h1>
                <h3 class="section-tagline"><p>Unknown {{ item }}</p></h3>
            </div>
        </div>
    </div>
</section>