<!-- Footer -->
<section class="footer navbar-bottom">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="{% url 'index' %}">Home</a> |
                            <a href="#how-it-works" data-toggle="modal">Learn More</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2017, LBMC.
                        </p>
                    </div>
                </div>
            </div> <!-- /row of widgets -->
        </div>
    </div>
</section>