<div class="navbar navbar-dual navbar-default navbar-fixed-top ontop-now">
    <nav class="navbar">
        <div class="container">
            <div class="collapse navbar-collapse" id="primary-navbar">
                <ul class="nav navbar-nav navbar-right navbar-lean">
                    <li><a href="{% url 'index' %}">Home page</a></li>
                    <li><a href="#how-it-works" data-toggle="modal">Learn more</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>